:root {
  /* colors */

  --baby-blue: #d0ebea;
  --touch-of-green: #d9ede1;
  --another-green: #d7e9e4;
  --pastel-blue: #f4f0ff;
  --pastel-red: #fcf2f4;
  --dark-purple: #342a81;

  /* sizes */

  --navbar-height: 10vh;
  --footer-height: 30vh;
  --header-size: calc(2rem + 1vw);
  --paragraph-size: calc(0.8rem + 0.25vw);
  --color-lighter-gray: #e3e5ed;

  /* layouts */

  /* padding and margins */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "dank mono", sans-serif;
  background-color: #fcfefe;
  min-width: 400px;
  overflow-x: hidden;
  cursor: url(assets/svgs/spider.svg), auto;
}

/* main {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
  height: fit-content;
} */

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-lighter-gray);
  border: 0;
  margin: 2rem 0;
}
