.product_dashboard_heading_container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product_dashboard_heading_container > * {
  border: 1px solid darkgray;
  padding: 10px;
  margin-left: 10px;
  display: inline-block;
}

.product_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  height: 70px;
  border: 1px solid black;
  border-radius: 10px;
}

.product_container img {
  height: 100%;
}

.product_container div {
  display: flex;
}

.hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.show {
  width: 400px;
  height: fit-content;
  z-index: 1;
  background-color: lightgray;
  padding: 10px;
}
