.create_product_container {
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.create_product_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.create_product_container input,
.create_product_container textarea,
.create_product_container button {
  display: block;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  width: clamp(300px, 50%, 800px);
  transition: background-color 1s;
}

.create_product_container button:hover {
  background-color: rgb(24, 153, 185);
}

.product_preview {
  width: clamp(300px, 40%, 500px);
  aspect-ratio: 1;
  border: 1px solid black;
  margin: 1rem auto;
}

@media (max-width: 800px) {
  .create_product_container {
    flex-direction: column;
  }
}
