.baby_svg {
  position: absolute;
  left: 0px;
  width: clamp(350px, 60%, 80%);
  bottom: 0;
}
.our_story_container {
  border: 1px solid green;
  position: relative;
  margin-top: 20vh;
  /* height: max(40vh, 50vw); */
  width: 100%;
  display: flex;
  align-items: center;
}

.our_story_heading {
  font-size: clamp(3.5rem, 1rem + 12vw, 12rem);
  /* width: fit-content; */
  flex-grow: 2;
  align-self: flex-start;
}

.our_story_paragraph {
  font-size: clamp(0.5rem, 0.5rem + 1vw, 2rem);
  flex-grow: 1;
  /* width: clamp(300px, 40%, 800px); */
  /* margin-left: auto; */
  /* margin-right: 1rem; */
}

@media (max-width: 800px) {
  /* .our_story_heading,
  .our_story_paragraph {
    margin: 0 auto;
  } */
}
