.track {
  cursor: grab;
  margin-top: 20vh;
  margin-bottom: 20vh;
  position: relative;
  min-height: 500px;
  border: 1px solid red;
}

.slider {
  display: flex;
  width: fit-content;
  gap: 1rem;
  margin: 2rem 1rem;
}

.slider img {
  min-width: 350px;
  width: 350px;
  max-width: 400px;
  border-radius: 2rem;
  pointer-events: none;
}

.carousel_info {
  border: 1px solid red;
}
