.sidebar_container {
  border: 1px solid red;
  flex-grow: 1;
  /* height: calc(100vh - var(--navbar-height) - var(--footer-height)); */
  height: fit-content;
  padding: 10px;
}

.sidebar_container h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar_container li {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 400px) {
  .sidebar_container {
    display: none;
  }
}
